body{
    background-color: #000000;
    background-image: url(/img/Стена.png);
}


/*шапка*/
.hat{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;

}

.haip{
    color: #1ACD4C;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    line-height: 38px;
    margin-right: 9px;
    margin-left: 160px;
    padding-top: 16px;
}

.line{
    margin-left: 8px;
    margin-right: 10px;
    border-left: 1px solid #272727;
}
.numbercards{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.hattext{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    margin-left: 110px;
}

.hattextmy{
    color: #272727;
}

.bottomli{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #272727;
}

/*название таблицы*/
.history{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
    margin-left: 190px;
    margin-top: 100px
}

/*таблицa*/
.fulltable{
    margin-top: 39px;
    margin-left: 200px;
    width: 1050px;
    padding-left: 32px;
}
.theadtext{
    font-family: 'Montserrat';
    color: #727272;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.tablecontent{
    width: 1120px;

    margin-left: 190px;
    border: 2px solid #272727;
    
}

.tablecontent1{
    font-family: 'Montserrat';
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

.tablecontent2{
    display: inline-block;

}
.linestyle{
    display: block;
    border: 1px solid #272727;
    border-top: none;
    border-left: none;
    border-right: none;
}
.tablecontentone{
    margin-left: 42px;
    padding-top: 15px;
    padding-bottom: 12px;
}

.tablecontenttu{
    margin-left: 183px;
    padding-top: 15px;
    padding-bottom: 12px;
}
.tablecontentthree{
    margin-left: 287px;
    padding-top: 15px;
    padding-bottom: 12px;
}
.tablecontentfor{
    margin-left: 210px;
    padding-top: 15px;
    padding-bottom: 12px;
}

.number{
    color: #FFFFFF;
    display: inline-block;
    margin-left: 30px;
}

.greyline{
    color: #4F4F4F;
    margin-left: 500px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.number1{
    color: #4F4F4F;
}